<div class='spacer-footer'></div>
<footer>
  <a
    href='https://github.com/leavonoldenburg/recipe-application'
    target='_blank'
  >
    <div id='repository'>
      <i class='fab fa-lg fa-github'></i>
      <div>&nbsp;GitHub</div>
    </div>
  </a>
  <div id='ironhack'><img
      src='/images/ironhack_logo.png'
      alt='Ironhack Logo'
    />&nbsp;&nbsp;Ironhack Project 2</div>
  <div id='group'>
    <a href='/about' target='_blank'>Lea</a>
    <div class='separate'>&nbsp;|&nbsp;</div>
    <a href='/about' target='_blank'>Nura</a>
    <div class='separate'>&nbsp;|&nbsp;</div>
    <a href='./about' target='_blank'>Gregor</a>
  </div>
</footer>