<div id="hero-section">
  <label for="recipe-search" id="welcome">Get inspired by some of the best recipes ever!</label>
  <form id='recipe-search' action="/api-search" method="GET">
    <input class="form-control" type="text" name="searchRecipe" placeholder='Search API for Recipes'>
  </form>
</div>
