<div class='secondary-bar'>
</div>

<div class='card p-5 mx-5 my-4' style='align-items: center;'>

  <h1>Your Message Is On Its Way</h1>

  <iframe
    src='https://giphy.com/embed/3og0IuE1EjI5ZQzr3i'
    width='379'
    height='380'
    frameBorder='0'
    class='giphy-embed'
  ></iframe>

</div>