<div class='secondary-bar'>
  <div class='heading-secondary'>Let's get in touch!</div>
</div>

<div class='card p-5 mx-5 my-4'>

  <form method='POST'>

    <div class='form-floating mb-3'>
      <input type='text' class='form-control' name='name' id='input-name' placeholder='name' required />
      <label for='input-name'>Your Full Name</label>
    </div>

    <div class='form-floating mb-3'>
      <input type='email' class='form-control' name='email' id='input-email' placeholder='email' required />
      <label for='input-email'>Your Email Address</label>
      <div id='emailHelp' class='form-text'>We'll never share your email with
        anyone else.</div>
    </div>

    <div class='form-floating mb-3'>
      <input type='text' class='form-control' name='subject' id='input-subject' placeholder='subject' required />
      <label for='input-subject'>What Can We Help You With?</label>
    </div>

    <div class='form-floating mb-3'>
      <textarea class='form-control' name='message' placeholder='message' id='input-message' style='height: 200px'
        required></textarea>
      <label for='input-message'>Your Message</label>
    </div>

    <button id="contact-msg-btn" type='submit' class='btn btn-secondary'>Send Message!</button>
  </form>

</div>
