<div class='secondary-bar'>
  <div class='heading-secondary'>Sign In To Create Your Own Recipes</div>
</div>

<div class='card p-5 mx-5 my-4'>

  <form action='/authentication/sign-in' method='POST'>

    <div class='form-floating mb-3'>
      <input
        class='form-control'
        type='email'
        id='input-email'
        name='email'
        placeholder='Your Email'
      />
      <label for='input-email'>Email</label>
    </div>

    <div class='form-floating mb-3'>
      <input
        class='form-control'
        type='password'
        name='password'
        id='input-password'
        placeholder='A Strong Password'
      />
      <label for='input-password'>Password</label>
    </div>

    <button type='submit' class='btn btn-secondary'>Sign In</button>
  </form>

</div>