// ### Fonts ###
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-acme: "Acme", sans-serif;
$font-rancho: "Rancho", cursive;

// ### Colors ###
$white: #ffffff;
$grey: #bdbdbd;
$offwhite: #f3f3f3;
$pine: #4b726c;
$dark-pine: #3b5551;
$petrol: #36a890;
$turquoise: #a9e9d4;
$beige: #f0e4c8;
