// ### Header styles ###

#hero-section {
  background-image: url('/images/header.png');
  background-size: cover;
  height: 18em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form input {
    height: 2em;
    background-color: rgba(255, 255, 255, 0.712);
    @include bs-rounded;
    color: black;
  }
}

#recipe-search {
  width: 15em;
  .form-control:focus {
    border-color: $pine;
    box-shadow: 0 0 0 0.25rem #70ffe086;
    border-radius: 0;
  }
}

#welcome {
  text-align: center;
  font-size: 3em;
  width: 9em;
  line-height: 1em;
  font-family: $font-rancho;
  text-shadow: 2px 2px 3px rgb(20, 20, 20);
  margin-bottom: 0.3em;
  color: $white;
}
