#profile-pic {
  margin-right: 0.5em;
  border-radius: 50%;
  float: left;
}

.recipe-container {
  margin-bottom: 20px;
}

#profile-detail-top {
  display: flex;
  flex-direction: row;
  word-wrap: unset;
  justify-content: space-between;
  align-items: flex-start;
  div {
    button {
      width: 100%;
    }
  }
}

#profile-mail {
  white-space: nowrap;
  margin-top: 0.5em;
}

#profile-name {
  white-space: nowrap;
  margin-top: 1em;
}

.edit-user-info-btn,
.delete-user-btn {
  background-color: $pine;
  color: $offwhite;
  font-weight: bold;
  font-size: 1em;
  padding: 0.1em 0.5em;
  width: 14em;
}
